{{- if and (not .Values.barq.existingSecret) .Values.barq.apiKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "barq-db.fullname" . }}-api-key
  labels:
    {{- include "barq-db.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.barq.apiKey | b64enc | quote }}
{{- end }}
---
{{- if and .Values.tiering.enabled (or .Values.cloudCredentials.aws.accessKeyId .Values.cloudCredentials.gcs.serviceAccountKey .Values.cloudCredentials.azure.storageKey) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "barq-db.fullname" . }}-cloud-credentials
  labels:
    {{- include "barq-db.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.cloudCredentials.aws.accessKeyId }}
  aws-access-key-id: {{ .Values.cloudCredentials.aws.accessKeyId | b64enc | quote }}
  aws-secret-access-key: {{ .Values.cloudCredentials.aws.secretAccessKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.cloudCredentials.gcs.serviceAccountKey }}
  gcs-service-account-key: {{ .Values.cloudCredentials.gcs.serviceAccountKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.cloudCredentials.azure.storageKey }}
  azure-storage-account: {{ .Values.cloudCredentials.azure.storageAccount | b64enc | quote }}
  azure-storage-key: {{ .Values.cloudCredentials.azure.storageKey | b64enc | quote }}
  {{- end }}
{{- end }}
